.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
}

.search {
  width: 502 px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  padding: 14px 20px;
}

.search:focus {
  outline: 0.5px groove;
}

.searchButton {
  height: 100%;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  border: 1px solid var(--color-black);
  padding: 14px 20px;
  border-left: none;
  background-color: var(--color-white);
}
